/* Start Global Rules  */
:root[data-theme="light"] {
  --main-color: #246bfd;
  --secondOne-color: #246bfd;
  --second-color: #7d7987;
  --three-color: #ffffff;
  --four-color: #080808;
  --section-background: #e5e5e533;
}

:root[data-theme="dark"] {
  --main-color: #246bfd;
  --secondOne-color: #e9e9e9;
  --second-color: #e9e9e9;
  --three-color: #6d6e70;
  --four-color: #080808;
  --section-background: #575a5e;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: none;
  outline: none;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cairo", sans-serif;
  background-color: var(--section-background);
}

/* start container  */
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End container  */
/* End Global Rules  */

/* Start Preload  */
.preload {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--three-color);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
  &.hidden {
    display: none;
  }
  & .loader {
    width: 20px;
    aspect-ratio: 1;
    border-radius: 50%;
    background-color: var(--main-color);
    box-shadow: var(--main-color) -25px 0px, var(--main-color) 25px 0px;
    animation: up-and-down 1.2s infinite;
  }
}

@keyframes up-and-down {
  25% {
    box-shadow: var(--main-color) -20px -20px, var(--main-color) 20px 20px;
  }

  50% {
    box-shadow: var(--main-color) 0px -25px, var(--main-color) 0px 25px;
  }

  75% {
    box-shadow: var(--main-color) 20px -20px, var(--main-color) -20px 20px;
  }

  100% {
    box-shadow: var(--main-color) 25px 0px, var(--main-color) -25px 0px;
  }
}
/* End Preload  */

/* Start switch Dark&light   */
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 62px;
  height: 30px;
  background-color: var(--three-color);
  border-radius: 20px;
  box-shadow: 0 0 8px 4px rgba(0, 0, 0, 0.04);
  transition: 0.4s;
  cursor: pointer;

  &::before {
    position: absolute;
    content: "";
    height: 25px;
    width: 25px;
    border-radius: 20px;
    left: 2px;
    bottom: 2px;
    z-index: 2;
    background-color: var(--main-color);
    transition: 0.4s;
  }
  &.trans {
    &:before {
      transform: translateX(31px);
    }
  }
  & .svg {
    transition: 0.4s;
  }
  & .sun {
    & svg {
      position: absolute;
      top: 4px;
      left: 5px;
      z-index: 1;
      width: 23px;
      height: 24px;
      animation: rotate 10s linear infinite;
    }
  }

  & .moon {
    & svg {
      fill: var(--second-color);
      position: absolute;
      top: 4px;
      left: 34px;
      z-index: 1;
      width: 23px;
      height: 23px;
      animation: tilt 1s linear infinite;
    }
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes tilt {
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

/* End switch Dark&light   */

/* Start Age calculator content  */
.container {
  & .Content-AgeCalc {
    width: min(80%, 38.12em);
    /*  */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    & .header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 0 10px 50px;
      & .main-title {
        width: fit-content;
        position: relative;

        &::before {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          height: 100%;
          width: 50px;
          z-index: -1;
          background-color: var(--main-color);
          border-radius: 3px;
          animation: loading 7s linear infinite alternate;
        }
        & h2 {
          margin: 0;
          color: var(--secondOne-color);
          font-size: 30px;
          font-weight: bold;
          line-height: 1.1;
          mix-blend-mode: color-dodge;
        }
      }
    }
    & .content-input {
      background-color: var(--three-color);
      padding: 1.87em 1.5em;
      border-radius: 0.6em;
      box-shadow: 0 0.93em 1.25em rgba(0, 0, 0, 0.1);
      margin-bottom: 4.12em;

      & > p {
        font-size: 1.4em;
        font-weight: bold;
        color: var(--second-color);
        margin: 0 0 20px;
      }
      & .input-btn {
        display: grid;
        grid-template-columns: 9fr 3fr;
        gap: 1em;

        & :where(input, button) {
          font-size: 0.98em;
          font-weight: bold;
          border-radius: 0.31em;
        }

        & input {
          color: var(--four-color);
          padding: 1.2em 1.25em;
          background-color: #eeeeff;
        }
        & button {
          cursor: pointer;
          /* color: var(--three-color); */
          color: white;
          background-color: var(--main-color);
          transition: 0.4s;
          &:hover {
            box-shadow: 0 0 0.7em 0.2em var(--main-color);
          }
        }
      }
    }

    & .output-res {
      width: 100%;
      display: flex;
      justify-content: space-between;

      & .box {
        width: 8.25em;
        height: 6.25em;
        color: var(--four-color);
        border-radius: 0.6em;
        background-color: var(--three-color);
        display: grid;
        place-items: center;
        padding: 1.25em 0;
        box-shadow: 0 0.93em 1.25em rgba(0, 0, 0, 0.1);

        & span {
          font-size: 1.6em;
          font-weight: bold;
          color: var(--second-color);
        }
        & p {
          margin: 10px 0 0;
          font-size: 1.3em;
          color: var(--secondOne-color);
        }
      }
    }

    & .btn-reset {
      display: block;
      margin: 30px auto 0px;
      padding: 0.8em 2.4em;
      font-size: 0.98em;
      font-weight: bold;
      border-radius: 0.31em;
      cursor: pointer;
      /* color: var(--three-color); */
      color: white;
      background-color: var(--main-color);
      transition: 0.4s;
      &:hover {
        box-shadow: 0 0 0.7em 0.2em var(--main-color);
      }
      &.cuser {
        cursor: not-allowed;
      }
    }
  }

  @media (width<=600px) {
    & .Content-AgeCalc {
      width: min(95%, 38.12em);
      & .output-res {
        & .box {
          width: 6.25em;
        }
      }
    }
  }
}

@keyframes loading {
  0%,
  100% {
    left: 0;
  }

  50% {
    left: calc(100% - 50px);
  }
}
/* End Age calculator content  */
